@import url("https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body,
html {
  background-color: #2b2b55;
  color: #FFF;
  overflow-x:hidden;
}

header .container {
  margin-top: 2rem;
  text-align: center;
}
header .container h1 {
  margin-top:1rem;
  padding: 2rem;
   display:inline-block;
   border-bottom: 5px solid #FFF;
   padding-bottom: 0.5rem;
	
	font-weight: normal;  
  font-size: 36px;
  font-weight:900;
	line-height: 42px;
  text-transform: uppercase;
  color:#FFF;
	text-shadow: 0 1px white, 0 3px #777;
}

.main .card
{
  text-align:center;
  background:#e94560;
  border:none;
  margin-top:4rem;
  margin-bottom: 4rem;
}
.main .card a{
  text-decoration:none;
  color:#fff;
}
.main .card span {
  font-size:2rem;
}
.visible {
  display: none;
  visibility: hidden;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  box-shadow: none;
  border: none;
}
.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}

select {
  color: #ff6747;
  width: 10rem;
  cursor: pointer;
  padding: 1rem;
}
.select::after {
  content: "\25BC";
  position: absolute;
  background: #ff6747;
  top: 0;
  right: 0;
  transform: translate(0, -2%);
  padding: 1rem;
  pointer-events: none;
  color: #fff;
}

.select:hover::after {
  background: white;
  color: #ff6747;
}
.visibility {
  display: none;
}
footer {
  position: relative;
  bottom: 0px;
  width: 100%;
  background: #112;
}

footer .main-content .box {
  
  padding: 10px 20px;
}
.box h2 {
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
}

.box .content {
  margin: 20px 0 0 0;
  position:relative;
}
.box .content:before{
  position: absolute;
  content: '';
  top:-10px;
  height:2px;
  width:100%;
  background:#112;
}
.box .content:after{
  position: absolute;
  content: '';
  top:-10px;
  height:2px;
  width:15%;
  background:#e94560;
  top:-10px;
}
.left .content p {
  text-align: justify;
}
.left .content .social-links {
  margin: 20px 0 0 0;
}
.left .content .social-links a {
  padding: 0 2px;
}
.left .content .social-links a i {
  height: 40px;
  width: 40px;
  background: #1a1a1a;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 50%;
  transition: 1s;
}
.left .content .social-links a i:hover {
  background: #e94560;
}
.center .content .fa {
  font-size: 1.5rem;
  background: #1a1a1a;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 1s;
  cursor: pointer;
}
.center .content .fa:hover {
  background: #e94560;
}
.center .content .text {
  font-size: 1rem;
  font-weight: 500;
  padding:left:10px;
}
.right form .message,.right form .text,.right form .email{
  margin-top:10px;
}
.right form input, .right  form textarea{
  font-size:1.2;
  background: #1a1a1a;
  padding-left:10px;
  color:skyblue;
  border:1px solid #222;
 
}
.right form input::placeholder, .right  form textarea::placeholder{
  font-size:1.2;
  color:#fff;
}

.right form input:focus,
.right form textarea:focus
{
  outline:none;
}
.right form input,.right form textarea{
  height:35px;
  width:100%;
}
.right form textarea{
  height:100px;
}
.right form .submit{
margin-top:10px;
}
.right form .submit .submit-btn{
  height:40px;
  width:100%;
  border:none;
  text-align:center;
  outline:none;
  background:#e94560;
  font-size:1.1;
  color:#1a1a1a;
  font-weight:500;
  transition:.5s;
}
.right form .submit .submit-btn:hover{
  background:#1a1a1a;
  color:#e94560;
}
.bottom center{
  padding:5px;
  font-size:1rem;
  background: #2b2b55;
}
.bottom center span
{
  color:#FFF;
}

.bottom center a
{
  color:#e94560;
  text-decoration:none;

}
.bottom center a:hover{
  text-decoration:none;
}

.hvr-float-shadow {
 
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(360, 360, 360, 0);
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(360, 360, 360, 0.35) 0%, rgba(360, 360, 360, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(360, 360,360, 0.35) 0%, rgba(360, 360, 360, 0) 80%);
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
.hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  /* move the element up by 5px */
}
.hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.hvr-icon-spin {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-icon-spin .hvr-icon {
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
.hvr-icon-spin:hover .hvr-icon, .hvr-icon-spin:focus .hvr-icon, .hvr-icon-spin:active .hvr-icon {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

@media screen and (max-width:900px)
{
  .main-content .box{
    margin: 5px  0;
  }
}
@media screen and (max-width:576px)
{
  .main .card
  {
    margin-top:0;
    margin-bottom: 4rem;
  }
  .main .page1
  {
    margin-top:2rem;
  }
}