/* <!-- thanks to Tobias Ahlin Bjerrome for the preloader code--> */
/* preloader css */
.spinner-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #282C34;
  z-index: 999999;
  }
.spinner {
  position: absolute;
top: 48%;
left: 48%;
  width: 70px;
  text-align: center;
}
.spinner > div {
  width: 18px;
  height: 18px;
  background-color: rgb(238, 68, 51);
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}
.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}
@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
/* preloader css end */
/* poppins form import */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap");
/* removed default styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/* default body and html styling */
body,
html {
  background-color: #2b2b55;
  color: #FFF;
  overflow-x:hidden;
}
/* for heading alignment */
header .container, .heading-continer {
  margin-top: 2rem;
  text-align: center;
}
/* for heaing styling */
.faq-heading
{
  display:inline-block;
  border-bottom: 5px solid #FFF;
  padding-bottom: 0.5rem;
	text-align:center;
	font-weight: normal;  
  font-size: 36px;
  font-weight:900;
	line-height: 42px;
  text-transform: uppercase;
  color:#FFF;
  text-shadow: 0 1px white, 0 3px #777;
  margin-bottom:50px;

}
/* for navigation  */
/* for nav hamburger */
.hamburger{
  display:inline-block;
  position :absolute;
  right: 45px;
  font-size: 60px;
}
nav .logo
{
  margin:24px;
  width:80px;
}
/* for displaying on click */
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  background-color: #2b2b55;
  overflow:hidden;
  transition: 0.5s;
}
.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
.overlay .link {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #fff;
  display: block;
  transition: 0.3s;
}
.overlay .link:hover, .overlay .link:focus {
  color: #e94560;
 
}
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}
@media screen and (max-width: 450px) {
  .overlay .link {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  right:0;
  top:0;
  margin-top: 0;
}  
}
/* nav bar css end and its responsive */
/* for cards on th m=home page */
.main .card
{
  text-align:center;
  background:#e94560;
  border:none;
  margin-top:4rem;
  margin-bottom: 4rem;
}
.main .card a{
  text-decoration:none;
  color:#fff;
}
.main .card span {
  font-size:2rem;
}
/* for cards on the main page end */

/* for styling select on cgpa and sgpa page */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  box-shadow: none;
  border: none;
}
.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}
select {
  color: #e94560;
  width: 10rem;
  cursor: pointer;
  padding: 1rem;
  background-color:#122;
}
.select::after {
  content: "\25BC";
  position: absolute;
  background: #122;  
  padding: 1rem;
  color: #fff;
}
.select:hover::after {
  background: white;
  color: #122;
}
/* css for footer */
footer {
  position: relative;
  bottom: 0px;
  width: 100%;
  background: #112;
}
footer .main-content .box { 
  padding: 10px 20px;
}
.box h2 {
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
}
.box .content {
  margin: 20px 0 0 0;
  position:relative;
}
.box .content:before{
  position: absolute;
  content: '';
  top:-10px;
  height:2px;
  width:100%;
  background:#112;
}
.box .content:after{
  position: absolute;
  content: '';
  top:-10px;
  height:2px;
  width:15%;
  background:#e94560;
  top:-10px;
}
.left .content p {
  text-align: justify;
}

.social-links {
  margin: 20px 0 0 0;
}
.social-links a {
  padding: 0 2px;
}
 .social-links a i {
  height: 40px;
  width: 40px;
  background: #1a1a1a;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 50%;
  transition: 1s;
}
 .social-links a i:hover {
  background: #e94560;
}
.center .content .fa {
  font-size: 1.5rem;
  background: #1a1a1a;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 1s;
  cursor: pointer;
}
.center .content .fa:hover {
  background: #e94560;
}
.center .content .text {
  font-size: 1rem;
  font-weight: 500;
  padding:left:10px;
}
.right form .message,.right form .text,.right form .email{
  margin-top:10px;
}
.right form input, .right  form textarea{
  font-size:1.2;
  background: #1a1a1a;
  padding-left:10px;
  color:skyblue;
  border:1px solid #222;
 
}
.right form input::placeholder, .right  form textarea::placeholder{
  font-size:1.2;
  color:#fff;
}
.right form input:focus,
.right form textarea:focus
{
  outline:none;
}
.right form input,.right form textarea{
  height:35px;
  width:100%;
}
.right form textarea{
  height:100px;
}
.right form .submit{
margin-top:10px;
}
.right form .submit .submit-btn{
  height:40px;
  width:100%;
  border:none;
  text-align:center;
  outline:none;
  background:#e94560;
  font-size:1.1;
  color:#1a1a1a;
  font-weight:500;
  transition:.5s;
}
.right form .submit .submit-btn:hover{
  background:#1a1a1a;
  color:#e94560;
}
.bottom center{
  padding:5px;
  font-size:1rem;
  background: #2b2b55;
}
.bottom center span
{
  color:#FFF;
}
.bottom center a
{
  color:#e94560;
  text-decoration:none;

}
.bottom center a:hover{
  text-decoration:none;
}
/* footer css ends */
/* different effects on hover from hover.css */
/* border Fade */
.hvr-border-fade {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transition: all 1s ease-in-out;
}
.hvr-border-fade:hover, .hvr-border-fade:focus, .hvr-border-fade:active {
  box-shadow: inset 0 0 0 4px #e94560, 0 0 1px rgba(0, 0, 0, 0);
}
/* Float shadow */
.hvr-float-shadow { 
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(360, 360, 360, 0);
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(360, 360, 360, 0.35) 0%, rgba(360, 360, 360, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(360, 360,360, 0.35) 0%, rgba(360, 360, 360, 0) 80%);
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
.hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  /* move the element up by 5px */
}
.hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}
/* grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
/* icon spin */
.hvr-icon-spin {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-icon-spin .hvr-icon {
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
.hvr-icon-spin:hover .hvr-icon, .hvr-icon-spin:focus .hvr-icon, .hvr-icon-spin:active .hvr-icon {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
/* hover css codes end */
/* making the home page a little responsive */
@media screen and (max-width:900px)
{
  .main-content .box{
    margin: 5px  0;
  }
}
@media screen and (max-width:576px)
{
  .main .card
  {
    margin-top:0;
    margin-bottom: 4rem;
  }
  .main .page1
  {
    margin-top:2rem;
  }
}
/* making the home page a little responsive end*/

/* for accordion on faq page*/
.faq-container{
  margin:0 auto;
  text-align:justify;
}
 .accordion-link {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 3rem 1rem 1rem;
  color: #fff;
  font-size: 1.15rem;
  font-weight: 500;
  border-bottom: 2px solid #FFF;
 }
 .accordion-link:hover{
   cursor:pointer;
   color:#e94560;
   text-decoration:none;
   border-bottom: 2px solid  #e94560;
 }
 .accordion-link p{
   border:1px solid #fff;
   border-radius:50%;
   width:35px;
   height:35px;
   line-height: 35px;
   vertical-align: middle;
   text-align:center;
 }
 .accordion-link:hover p{
  border:1px solid #e94560;
 }
  .accordion .answer{
    padding: 1rem;   
  }
  .accordion .answer p {
    font-size: 1rem;
    font-weight: 300;
  }
  .invisible {
    display: none;
  }
  @media screen and (max-width:450px)
  {
    .accordion-link p{
      margin-left: 2rem;;
    }
  }
/* for accordion faq page end */
/* cgpa and sgpa page input styling button styling table responsive */
  .cgpa-form input:focus,.sgpa-form input:focus{
    outline:none;
  }
  .cgpa-form input::placeholder,.sgpa-form input::placeholder{
    color:#e94560;
    text-align:center;
  }
  .cgpa-form .sns-btn,.sgpa-form .sns-btn{
    color:#fff;
    background-color:#e94560;
    padding:15px;
    border:none;
  }
  .cgpa-form .calculate,.sgpa-form .calculate{
    text-align:center;
  }
  .cgpa-form .sns-btn:focus,.sgpa-form .sns-btn:focus{
    outline:none;
  }
  .cgpa-form .sns-btn i,.sgpa-form .sns-btn i{
    transition: .5s;
  }
  .cgpa-form .sns-btn:hover i,.sgpa-form .sns-btn:hover i{
    transform: scale(2);
  }
  .cgpa-form .calculate p,.sgpa-form .calculate p{
    margin-top:12px;
    margin-bottom:12px;
  }
  .cgpa-form .calculate a,.sgpa-form .calculate a{
      color:#e94560;
  }
  .cgpa-form .calculate a:hover,.sgpa-form .calculate a:hover{
    text-decoration:none;
  }
  .cgpa-form .ans,.sgpa-form .ans{
    width:300px;
    margin:10px auto;
    background-color:#e94560;
    color:#fff;
  }
  .cgpa-form .message,.sgpa-form .message{
    padding:20px;
  }
  @media screen and (max-width:470px)
  {
    table{
      width:100%;
      margin:0;
    }
    .cgpa-form input,.sgpa-form input{
      width:100px;
      border:none;
    }
    .cgpa-form input::placeholder,.sgpa-form input::placeholder{
      opacity:0;
    }
    thead{
      display:none;
    }
  }
/* completed and now its responsive */
/* share button css */
.share .share-button{
  position:fixed;
  bottom:1rem;
  left:1rem;
  z-index:1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 14px;
  font-weight: 500;
  background-color:#e94560;
  text-decoration: none;
  color:white;
  height:75px;
  width:75px;
  border-radius: 50%;
  border: 5px solid #FFF;
  cursor: pointer;
}
.share .share-button:focus,.share-dialog .close-button:focus{
  outline:none;
}
.share .share-button:hover,.share-dialog .close-button:hover{
  border:#e94560;
}
/* share button css end */
/* share dialog fall back css  */
.share-dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.share-dialog .close-button{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 14px;
  font-weight: 500;
  background-color:#e94560;
  text-decoration: none;
  color:white;
  height:45px;
  width:45px;
  border-radius: 50%;
  border: 5px solid #FFF;
  cursor: pointer;
}
 .share-dialog {
  background-color:#2b2b55;
  width: 95%;
  max-width: 500px;
  box-shadow: 0 8px 16px rgba(0,0,0,.15);
  z-index: -1;
  border: 10px solid #e94560;
  padding: 20px;
  border-radius: 4px;
  transition: 1s;
}
.share-dialog:hover{
  border-radius:100px;
}

.share-dialog.is-open {
  display: block;
  z-index: 2;
}

.share-dialog header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
} 
.targeting
{
  margin-bottom:13px;
}
/* share dialog fall back css  end*/
/* for js displainy and hiding */
.visible {
  opacity:0;
}
.visibility{
display:none;
}
/* for js displaying end */
